$backgroundColor: #fffffc;
$btnColor-1: #345eeb;

.show-page{
    display: block;
}
.hide-page{
    display: none;
}
.show-loading{
    display: inline;
    margin-left: 10px;
}
.hide-loading{
    display: none;
}
.show-no-task{
    display: inline;
    margin-left: 10px;
}
.hide-no-task{
    display: none;
}
.dashboard{
    background-color: #e9f4f7;
}
.dashboard-nav{
    margin: 10px;
    height: 50px;
    height: auto;
}
.create-task-btn{
    border: none;
    background-color: black;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.btn-user-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-container{
    margin-right: 10px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
}
.user-name{
    margin-left: 5px;
    margin-top: 13px;
    line-height: 15px;
}
.search1 {
    display: none;
}

.search2 {
    margin-top: 10px;
    display: block;
}
.search-input1, .search-input2{
    width: 65%;
    border: none;
    border-radius: 5px;
    height: 25px;
    margin-left: 10px;
}
.search-btn1, .search-btn2{
    width: 25%;
    border: none;
    border-radius: 5px;
    background-color: rgb(138, 186, 237,);
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}
.logout-btn-container{
    margin-right: 10px;
}
.logout-btn{
    background-color: inherit;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.date{
    margin-top: 7px;
}
.create-task-form_container{
    height: 96vh;
    width: 96vw;
    background-color: rgba(56, 52, 52, 0.9);
    border-radius: 5px;
}
.hide-task-form{
    display: none;
}
.show-task-form{
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.close-task-form{
    background: none;
    border: none;
    padding-top: 50px;
    padding-left: 20px;
    color: white;
    cursor: pointer;
   
}
.task-form-container {
    background-color: $backgroundColor;
    height: 40%;
    width: 80%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #cbd0d1;
    color: #55616b;
    margin: auto;
    position: relative;
    top: 12%;
       
    input {
        height: 25px;
        color: #55616b;
        background-color: #e9f4f7;
        border-radius: 5px;
        // margin: 10px 5px 15px 5px;
    }
}
.task-form{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.submit-task-btn{
    background-color: $btnColor-1;
    color: white;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}
.dashboard-container{
    height: 90vh;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.title-date-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.all-tasks-btn, .pending-tasks-btn,
.current-tasks-btn, .completed-tasks-btn{
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #6d7273;
}
.all-tasks-btn{
    background-color: rgba(138,186,237,0.5);
}
.completed-tasks-btn{
    background-color: rgba(153,242,196,0.5);
}
.current-tasks-btn{
    background-color: rgba(245,218,86,0.5);
}
.pending-tasks-btn{
    background-color: rgba(242,76,61,0.5);
}
.task-icons-container{
    display: flex;
}
.pending-task{
    height: 180px;
    width: 250px;
    background-color: rgba(242, 76, 61, 0.5);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    position: relative;
}
.current-task{
    height: 180px;
    width: 250px;
    background-color: rgba(245, 218, 86, 0.5);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    position: relative;
}
.completed-task{
    height: 180px;
    width: 250px;
    background-color: rgba(153, 242, 196, 0.5);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.main-task-btn_container{
    display: flex;
    justify-content: space-between;
    // margin-top: 10px;
    position: absolute;
    bottom: 7px;
    
}
.delete-task-btn{
    border: none;
    background-color: rgb(190, 69, 53);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #6d7273;
    margin-left: 5px;
}
.edit-task-btn{
    border: none;
    background-color: rgb(72, 72, 180);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #6d7273;
    margin-left: 5px;
}
.task-btn{
    border: none;
    background-color:rgb(76, 177, 81);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #6d7273;
}
.show-task{
    display: flex;
    flex-wrap: wrap;
}
.hide-task{
    display: none;
}
.show-border{
    border: solid 5px wheat ;
}
.hide-border{
    border: none;
}

@media only screen and (min-width: 600px) {
    .task-form-container {
        width: 60%;
    }
    .close-task-form {
        padding-top: 100px;
        padding-left: 50px;
    }

}

@media only screen and (min-width: 768px) {
    .create-task-form_container {
        width: 100vw;
        height: 100vh;
        // background-color: rgba(56, 52, 52, 0.6);
    }
    .task-form-container {
        width: 45%;
    }
    .search1{
        display: flex;
        flex-direction: row;
        width: 50%;
        margin-top: 10px;
    }
    .search2{
        display: none;
    }
}
@media only screen and (min-width: 992px) {
    .create-task-form_container {
            width: 100vw;
            height: 100vh;
         input{
            height: 35px;
         }   
    }
    .task-form-container {
            width: 40%;
        }
    .submit-task-btn{
        height: 40px;
    }
}