.dashboard{
    background-color: #e9f4f7;
}
.dashboard-nav{
    margin: 10px;
    height: 50px;
}
.dashboard-container{
    height: 100%;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}
.title-date-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.all-tasks-btn, .pending-tasks-btn,
.current-tasks-btn, .completed-tasks-btn{
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #6d7273;
}
.all-tasks-btn{
    background-color: rgba(138,186,237,0.5);
}
.completed-tasks-btn{
    background-color: rgba(153,242,196,0.5);
}
.current-tasks-btn{
    background-color: rgba(245,218,86,0.5);
}
.pending-tasks-btn{
    background-color: rgba(242,76,61,0.5);
}
.task-icons-container{
    display: flex;
}
.pending-task{
    height: 150px;
    width: 250px;
    background-color: rgba(242, 76, 61, 0.5);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
.current-task{
    height: 150px;
    width: 250px;
    background-color: rgba(245, 218, 86, 0.5);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
.completed-task{
    height: 150px;
    width: 250px;
    background-color: rgba(153, 242, 196, 0.5);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.main-task-btn_container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.delete-task-btn{
    border: none;
    background-color: white;
    color: red;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #6d7273;
}
.task-btn{
    border: none;
    background-color: white;
    color: rgb(61, 71, 219);
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #6d7273;
}
.show-task{
    display: flex;
    flex-wrap: wrap;
}
.hide-task{
    display: none;
}
.show-border{
    border: solid 5px wheat ;
}
.hide-border{
    border: none;
}

@media only screen and (min-width: 600px) {
    .pending-tasks-container{
        // display: flex;
        // flex-wrap: wrap;
    }
    .current-tasks-container{
        // display: flex;
        // flex-wrap: wrap;
    }
    .completed-tasks-container{
        // display: flex;
        // flex-wrap: wrap;
    }
    .all-tasks-container{
        // display: flex;
        // flex-wrap: wrap;
    }
}